/* Header */

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 1000;
    position: relative;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.3);
    height: 80px;
    padding: 20px 0;
    width: 100%;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    padding: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    width: 50%;
    padding: 0;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.logo .logo-a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nav-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.nav-header .annonce-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 20px;
}

.nav-header .annonce-a:hover {
    color: #007bff;
}

.connexion-btn {
    display: flex;
    text-decoration: none;
    width: 100%;
}

.create-btn {
    display: flex;
    text-decoration: none;
    margin-left: 30px
}

.on-creation-account {
    display: flex;
    text-decoration: none;
    margin-left: 30px
}

.dashboard-btn {
    display: flex;
    text-decoration: none;
    width: 100%;
}

.deco-btn {
    display: flex;
    text-decoration: none;
    width: 100%;
}

.link-ceate-ann {
    display: flex;
    text-decoration: none;
}

.button-right {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.btn-ann {
    padding: 0;
    --color: #000000;
    font-family: inherit;
    display: inline-block;
    width: 200px;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    z-index: 1;
}

.dashboard-btn-ann {
    width: 70%;
    margin: 10px 0;
    left: 40px;
}

.connexion-btn-ann {
    width: 70%;
    margin: 5px 0;
    left: 40px;
}

.on-creation-account-btn {
    width: 130px;
    margin: 5px 0;
    left: 0;
}

.create-btn-ann {
    width: 180px;
    margin: 5px 0;
}

.deco-btn-ann {
    width: 70%;
    margin: 5px 0;
    left: 40px;
}

.btn-popup {
    width: 130px;
}

.btn-ann:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 250px;
    border-radius: 50%;
}
  
.btn-ann:hover {
    color: #fff;
}
  
.btn-ann:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}
  
.btn-ann:hover:before {
    top: -30px;
    left: -30px;
}
  
.btn-ann:active:before {
    background: #000000;
    transition: background 0s;
}

/* Hamburger Button */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 0;
    top: 120px;
    right: -280px;
    background-color: #e7e7e7;
    padding-top: 50px;
    transition: right 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidenav a:hover {
    color: #007bff;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active {
    right: 0;
}

.sidenav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding-left: 32px;
    padding-top: 5px;
    text-decoration: none;
    color: #000000;
}

.burger-icon .burger-span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #000000;
    border-radius: 5px;
    margin: 6px 0;
    margin-left: 15px;
}

.openBtn {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer */

.footer-creation-compte {
    width: 100%;
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.copyright {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.copyright p {
    color: #ffffff;
    margin-left: 80px;
}

.legals {
    text-transform: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.legals a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 80px;
}

footer a:hover {
    text-decoration: underline;
    text-decoration: none;
    color: #007bff;
}