@font-face {
    font-family: 'DM_Sans';
    src: url('/public/fonts/DM\ sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'DM_Sans_Italic';
    
    src: url('/public/fonts/DM\ sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'DM_Sans', 'DM_Sans_Italic';
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.body {
    background-color: #f1f4f7;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creationCompte {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-creation-compte {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-forms {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 8% 0;
    padding: 20px 20px;
    border-radius: 15px;
    background-color: black;
}

.forms {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forms-title {
    position: relative;
    margin: 20px 0;
}

.forms-title p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
}

.forms-inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs {
    position: relative;
    padding: 15px;
    width: 400px;
    margin: 10px 0;
    border: none;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 1em;
}

.forms-connect {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.forms-connect p {
    position: relative;
    color: #ffffff;
    margin-right: 5px;
}

.forms-connect a {
    position: relative;
    color: #ffffff;
    text-decoration: underline;
    transition: 0.25s ease-in-out;
}

.forms-connect a:hover {
    position: relative;
    transform: translateY(-2px);
    color: #007bff;
}

.mdp-incorect {
    position: relative;
    margin-top: 10px;
    color: red;
}

.forms-button {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-send {
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
  }

.button-send::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.button-send:hover::after {
    transform: scale(4);
}

.button-send:hover {
    border-color: #666666;
    background: #292929;
}
